#mainTitle {
    padding-top: 80px;
    color: #ffffff;
}


.window {
    margin-top: 30vh;
    border-radius: 8px;

}

#musicStart {
    background-color: #ff851a;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;

}

#night {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;

    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;

}


#night:hover {
    opacity: 1;
}

#musicStart:hover {
    opacity: 1;
}


#play {
    background-color: #ff851a;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

#play:hover {
    opacity: 1;
}

.playButton {
    float: right;
    margin-right: 30px;
    margin-top: -200px;
}

.night {
    float: left;
    margin-left: 30px;
    margin-top: -125px;
}


body {
    background: rgb(255, 169, 0);
    background: -moz-linear-gradient(90deg, rgba(255, 169, 0, 1) 0%, rgba(255, 246, 0, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 169, 0, 1) 0%, rgba(255, 246, 0, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 169, 0, 1) 0%, rgba(255, 246, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa900", endColorstr="#fff600", GradientType=1);
    font: 100% Arial, Sans Serif;
    height: 60vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}